[Desktop Entry]
Name=File Manager
Name[de]=Dateimanager
Name[fr]=Gestionnaire de fichiers
Comment=Caja
TryExec=caja
Exec=caja --no-desktop --browser %U
Icon=system-file-manager
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;System;Utility;Core;
Keywords=files;browser;manager;MATE;
OnlyShowIn=MATE;XFCE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.16.6
X-Desktop-File-Install-Version=0.22
