[Desktop Entry]
Name=FTP client
Name[de]=FTP-Programm
Name[fr]=Téléchargement FTP
Comment=Filezilla
Exec=filezilla
Terminal=false
Icon=filezilla
Type=Application
Categories=Network;FileTransfer;
Version=1.0
X-Desktop-File-Install-Version=0.21
