[Desktop Entry]
Name=Volume Control
Name[de]=Lautstärkeregler
Name[fr]=Contrôle du volume
Comment=Pulseaudio
Version=1.0
Encoding=UTF-8
Exec=pavucontrol
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;
