[Desktop Entry]
Name=Remote Desktop
Name[de]=Entfernter Rechner
Name[fr]=Bureau distant
Comment=Remmina
TryExec=remmina
Exec=remmina
Icon=remmina
Terminal=false
Type=Application
Categories=GTK;GNOME;Network;RemoteAccess;
